<body>

  <div class="top">
    <h1>Hackmas is coming your way soon!</h1>
    <ul id="example">
      <li><span class="days">00</span><p class="days_text">Days</p></li>
      <li class="seperator">:</li>
      <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
      <li class="seperator">:</li>
      <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
      <li class="seperator">:</li>
      <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
    </ul>
    <div class="rules">
        <div class="t">It's 36 hours from 10am EST</div>
        <div class="t">You are allowed to use either an existing project or new one</div>
        <div class="t">There is no theme make what you want! :)</div>
      </ul>
    </div>
    
  </div>

  <div class="bottom">
    <br><h1>Team list, get hyped!</h1>

  </div>

</body>
