<body>

  <div class="main">
    <h1>Hackmas is coming your way soon!</h1>
    <ul id="example">
      <li><span class="days">00</span><p class="days_text">Days</p></li>
      <li class="seperator">:</li>
      <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
      <li class="seperator">:</li>
      <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
      <li class="seperator">:</li>
      <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
    </ul>



    <div class="rules center">
      <h3>Guidelines</h3>
        <div class="t">36 hours from 10am EST Saturday</div>
        <div class="t">Use either an existing project or new one</div>
        <div class="t">Make whatever you want! No theme this time!</div>
    </div>

    <a class="intro-button" href="http://ys-auth.herokuapp.com">Join Now!</a>

  </div>
</body>
